/* Admin Panel Layout */
.admin_panel {
  width: 100%;
  min-width: 20rem;
	max-width: 83.5rem;
  padding: 0 1rem;
}

.admin_nav_container {
  position: relative;
  width: 100%;
}

/* Hide radio inputs */
.admin_tab_radio {
  display: none;
}

/* Tab labels styling */
.admin_tab_label {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  background: transparent;
  color: var(--clr-text);
  border: 1px solid var(--clr-related);
  border-radius: 0.5rem;
  padding: 0.375rem 1rem;
  margin-right: 0.25rem;
	margin-bottom: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.admin_tab_label:hover {
  background: var(--clr-related);

}

/* Active tab styling */
.admin_tab_radio:checked + .admin_tab_label {
  background: var(--clr-accent);
  border-color: var(--clr-accent);
  color: var(--clr-float-text);
}

/* Admin sections */
.admin_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1rem;
  row-gap: 2rem
}

.admin_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.75rem;

  h2 {
    min-width: fit-content;
    font-weight: 600;
    font-size: 1.375rem;
    color: var(--clr-accent);
  }

  .header_actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
    a,
		button {
      display: flex;
      align-items: center;
      font-weight: 500;
      background: var(--clr-accent);
      color: var(--clr-float-text);
      border: none;
      border-radius: 0.5rem;
      padding: 0.375rem 1rem;
      gap: 0.5rem;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: var(--clr-text);
      }
    }
  }
}

.table_container {
  position: relative;
  width: 100%;
  min-height: 20rem;
  overflow: auto;
  background: var(--clr-background);
  border: var(--bw-sm) solid transparent;
  border-radius: 0.5rem;
  padding-bottom: 0.75rem;

  table {
    width: 100%;

    th:first-child, td:first-child {
      position: sticky;
      left: 0;
      background: var(--clr-background);
      z-index: 1;
    }
    
    th,
    td {
      white-space: nowrap;
      text-align: left;
      padding: 0.625rem 1rem;
      padding-left: 0.25rem;
    }

    thead {
      tr {
        th {
          font-size: var(--text-th);
          color: var(--clr-th-text);
        }
      }
    }

    tbody {
      &.row_btn {
        tr {
            cursor: pointer;
        }
      }

      tr {
        width: 100%;
        height: auto;
        transition: background-color 0.4s;

        td {
          font-size: var(--text-td);

          .table_actions {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            margin-left: 0.125rem;

            &.text_actions {
              width: max-content;
            }

            svg {
              width: 1rem;
              height: 1rem;
              cursor: pointer;

              &:hover {
                opacity: 0.85;
              }
            }

            .edit {
              stroke: var(--clr-cta-blue);
            }

            .activate,
            .loan {
              stroke: var(--clr-cta-green);
            }

            .trash {
              stroke: var(--clr-cta-red);
            }
          }
        }

        .input_cell {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }

        .partiality_link {
          cursor: pointer;
          color: var(--clr-cta-blue);
          text-decoration: underline 0.063rem var(--clr-cta-blue);
          text-underline-offset: 0.125rem;
        }
      }
    }
  }
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.custom_cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.custom_cta_xs {
  padding: 0.25rem 0.5rem;
  margin: 0 0.125rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: all 0.3s ease;
}

.custom_cta_xs.view {
  background-color: #3b82f6;
  color: white;
}

.custom_cta_xs.edit {
  background-color: #f59e0b;
  color: white;
}

.custom_cta_xs.delete {
  background-color: #ef4444;
  color: white;
}

.custom_cta_xs.activate {
  background-color: #4caf9e;
  color: white;
}

.custom_cta_xs.deactivate {
  background-color: #f7196b;
  color: white;
}

.custom_cta_xs:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

@media (max-width: 48rem) {
  .admin_panel {
    padding: 1rem;
  }
  
  .admin_tab_label {
    padding: 0.5rem 0.75rem;
    margin-right: 0.125rem;
    font-size: 0.875rem;
  }
  
  .admin_tab_label span {
    display: none;
  }
  
  .table_container {
    table {
      th,
      td {
        padding: 0.563rem 0.875rem;
      }
    }
  }
}

@media (max-width: 30rem) {
  .admin_tab_label {
    padding: 0.5rem 0.75rem;
  }
  
  .section_header h2 {
    font-size: 1.25rem;
  }
}

.form_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 0.75rem;

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		&:disabled,
		&[disabled] {
			background: var(--clr-cta-primary) !important;
			color: var(--clr-text-neg) !important;
			opacity: 0.75;
			cursor: not-allowed;
			pointer-events: none;

			&:hover {
				opacity: 0.75;
			}
		}

		&:focus-visible {
			box-shadow: var(--input-field-focus-primary);
		}

		&[aria-invalid="true"] {
      border-color: var(--clr-error) !important;
      outline-color: var(--clr-error) !important;
      
			&:focus-visible {
				box-shadow: var(--input-field-focus-error) !important;
			}

			&[name="images"] {
        color: var(--clr-error) !important;
			}
    }
	}

	.field_section {
		display: grid;
		grid-template-columns: var(--form-grid-template);
		gap: var(--form-row-gap) var(--form-col-gap);

		&.time_range {
			display: flex;
			flex-wrap: wrap;
			border: 0.063rem solid var(--clr-shadow);
			border-radius: var(--br-curved-xs);
			padding: 1rem;
			padding-bottom: 0.5rem;
			gap: var(--input-field-gap-short);
		}
	}

	.form_btns {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1rem;

		.helper_text {
			bottom: -1.5rem;
		}

		.form_btn {
			flex: 1;
		}
	}

	.form_footer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: var(--container-gap);
	
		> * {
			flex: 1;
		}
	
		button {
			width: 100%;
			font-size: var(--text-cta-md);
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
		}
	}

	.helper_text {
		display: none;
		margin-top: 0.625rem;
		margin-left: 0.125rem;
	}

	.error_message {
		display: flex;
		color: var(--clr-error);
	
		&.normal_size {
			font-size: 0.875rem;
		}
	
		&.small_size {
			font-size: 0.75rem;
		}
	}
}

.form_header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	gap: var(--text-gap);
	margin-bottom: 0.625rem;

	&.form_subheader {
		h4 {
			font-size: var(--text-subh);
			font-weight: 500;
		}
	}

	&.header_and_actions {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: var(--content-gap);
		
		> div {
			display: flex;
			flex-direction: column;
			min-width: fit-content;
			gap: var(--text-gap);
		}

		.text_and_icon {
			i {
				svg {
					width: var(--icon-size-sm);
					height: var(--icon-size-sm);
				}
			}
		}
	}

	&.header_actions_error {
		.header_and_actions {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			gap: var(--text-gap);
		}
	}
	
	h3 {
		font-size: var(--text-h3);
		font-weight: 600;
	}
	
	button {
		font-size: 0.875rem;
		cursor: pointer;
	}
	
	p {
		font-size: var(--text-subh);
		color: var(--clr-text-dim);
	}
}

.field_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: var(--form-col-min-size); /* quick fix, grid template var should handle this */
	align-items: flex-start;
	margin-bottom: 1rem;

	&.single_column {
		grid-column: 1 / -1;
	}

	label {
		font-size: 1rem;
		min-width: max-content;
		margin-bottom: 0.625rem;
	}

	input,
	select,
	textarea {
		width: 100%;
		font-family: var(--font-dmsans);
		font-size: 1rem;
		background-color: var(--clr-input);
		color: var(--clr-nav-text);
		border: none;
		border-radius: 0.25rem;
		padding: 0.5rem;
		transition: outline-offset 0.1s ease;

		&:focus {
			outline: 0.125rem solid var(--clr-text);
			outline-offset: 0.188rem;

			&[type="submit"] {
				outline: 0.125rem solid var(--clr-accent);
			}
		}

		&[type="reset"] {
			background-color: var(--clr-text);
			color: var(--clr-cta-text);
			text-align: center;
			cursor: pointer;

			&:hover {
				outline: 0.125rem solid var(--clr-text);
				outline-offset: 0.188rem;
			}
		}

		&[type="submit"] {
			background-color: var(--clr-accent);
			color: var(--clr-cta-text);
			text-align: center;
			cursor: pointer;

			&:hover {
				outline: 0.125rem solid var(--clr-accent);
				outline-offset: 0.188rem;
			}
		}
	}

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
		-webkit-box-shadow: 0 0 0 30px var(--clr-input) inset !important;
	}

	.form_btns {
		display: flex;
		align-items: center;
		flex: 1;
		width: 100%;
		column-gap: 2rem;
		row-gap: 1.25rem;

		.form_btn {
			width: 10rem !important;
		}
	}

  textarea {
    height: var(--input-textarea-field-height);
    resize: vertical;
		
		&[name="description"] {
			height: 10rem;
		}
  }

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}

	.radio_checkbox_wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--input-field-gap-short);

		&.single_input {
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}

		label {
			display: flex;
			align-items: center;
			height: var(--input-field-height);
			gap: 0.5rem;
			margin-bottom: 0;
			cursor: pointer;

			input[type="radio"],
			input[type="checkbox"] {
				position: relative;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: var(--input-radio-checkbox-dimension);
				height: var(--input-radio-checkbox-dimension);
				background-color: transparent;
				border: 0.125rem solid var(--clr-accent);
				cursor: pointer;
				transition: opacity 0.2s ease, outline 0s;
				flex-shrink: 0;
				z-index: 1;
				outline: none;

				&:focus-visible {
					outline: 0.063rem solid var(--clr-accent);
          outline-offset: 0.063rem;
				}

        &[aria-invalid="true"] {
          border-color: var(--clr-error);
          outline-color: var(--clr-error);
        }

				&::before {
					content: "";
					position: absolute;
					inset: 0;
					top: calc(0.188rem * -1);
					left: calc(0.188rem * -1);
					width: calc(100% + 0.188rem * 2);
					height: calc(100% + 0.188rem * 2);
					border: 0.188rem solid transparent;
					opacity: 0;
					transition: opacity 0.2s ease;
					pointer-events: none;
					z-index: 0;
				}

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					opacity: 0;
					transition: opacity 0.2s ease;
					z-index: 1;
				}

				&:checked {
					&::before {
						opacity: 1;
					}

					&::after {
						opacity: 0.8;
					}
				}
			}

			input[type="radio"] {
				border-radius: var(--br-curved-full);

				&::before {
					border-radius: var(--br-curved-full);
				}

				&::after {
					width: 0.625rem;
					height: 0.625rem;
					background-color: var(--clr-accent);
					border-radius: var(--br-curved-full);
				}
			}

			input[type="checkbox"] {
				border-radius: 0.188rem;

				&::before {
					border-radius: 0.188rem;
				}

				&::after {
					width: 0.688rem;
					height: 0.375rem;
					transform: translate(-50%, -70%) rotate(-45deg);
					background: none;
					border-left: 0.125rem solid;
					border-bottom: 0.125rem solid;
					border-top: none;
					border-right: none;
					border-radius: 0;
          border-color: var(--clr-accent);
				}
			}

			p {
				min-width: max-content;
			}
		}
	}

	.text_input_center {
		height: var(--input-field-height);
		line-height: var(--input-field-height);
		text-align: center;
	}
}

/* Admin pagination - using main.css styles */
.admin_pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: fit-content;

  .controls {
    display: flex;
    align-items: center;
    min-width: fit-content;
    column-gap: 0.875rem;

    .pagination_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: fit-content;
      width: fit-content;
      font-weight: 600;
      font-size: 1.125rem;
      background-color: transparent;
      color: var(--clr-text);
      border: 0.188rem solid var(--clr-text);
      border-radius: 1.188rem;	
      padding: 0.5rem 0.75rem 0.5rem 0.683rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: var(--clr-accent);
        border: 0.188rem solid var(--clr-accent);
      }

      &.disabled {
        cursor: initial;
        opacity: 0.5;

        &:hover {
          border-color: var(--clr-text);
          color: var(--clr-text);
        }
      }
    }

    p {
      font-weight: 500;
      color: var(--clr-text);
    }
  }
}