@font-face {
	font-family: 'Roxborough CF';
	src: url('../fonts/RoxboroughCF.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

:root {
	--font-rox: 'Roxborough CF', serif;
	--font-dmsans: 'DM Sans';
	--clr-background: #f5f5f5;
	--clr-nav: #e7ebf4;
	--clr-nav-text: #292929;
	--clr-drawer-text: #292929;
	--clr-active-nav-text: #021138;
	--clr-cart-bubble: #f5f5f5;
	--clr-cart-num: #292929;
	--clr-float: #7996e1;
	--clr-float-text: #f5f5f5;
	--clr-related: #e8e8e8;
	--clr-related-text: #122c6f;
	--clr-card-tabber-hover: rgba(135, 135, 135, 0.1);
	--clr-card-related-hover: rgba(163, 163, 163, 0.1);
	--clr-accent: #122c6f;
	--clr-focus: #525bd5;
	--clr-text: #484848;
	--clr-footer: #021138;
	--clr-footer-text: #f5f5f5;
	--clr-shadow: #888;
	--clr-link: #4141af;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-background: #292929;
		--clr-nav: #afb6c0;
		--clr-drawer-text: #f5f5f5;
		--clr-cart-bubble: #7996e1;
		--clr-float-text: #292929;
		--clr-related: #393d4a;
		--clr-related-text: #7996e1;
		--clr-card-tabber-hover: rgba(180, 180, 180, 0.1);
		--clr-card-related-hover: rgb(0, 0, 0, 0.1);
		--clr-accent: #7996e1;
		--clr-text: #afb6c0;
		--clr-footer: #191815;
		--clr-shadow: #555;
		--clr-link: #b0b0ff;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

html {
	font-family: var(--font-dmsans);
	background: var(--clr-background);
}

body {
	position: relative;
	box-sizing: border-box;
	line-height: 1;
	border: 0;
	margin: 0;
}

.header_styles {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 2.5rem 4rem;
	padding-bottom: 2rem;
}

.main_styles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	row-gap: 2rem;
	padding: 2rem 4rem;
	padding-top: 0;

	::-webkit-scrollbar {
		width: 0.563rem;
		height: 0.563rem;
	}
	
	::-webkit-scrollbar-track {
		background: transparent;
		border: 0.125rem solid var(--clr-accent);
		border-radius: 0.313rem;
	}
	
	::-webkit-scrollbar-thumb {
		background: var(--clr-accent);
		border-radius: 0.313rem;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background: var(--clr-accent);
	}
}

.footer_styles {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--clr-footer);
	color: var(--clr-footer-text);
	padding: 2.5rem 4rem;
}

@media (max-width: 80rem) {
	.header_styles {
		padding: 2rem 3.25rem;
		padding-bottom: 2rem;
	}

	.main_styles {
		padding: 2rem 3.25rem;
		padding-top: 0;
		row-gap: 2rem;
	}
}


@media (max-width: 64rem) {
	.header_styles {
		padding: 2rem 2.5rem;
		padding-bottom: 1.5rem;
	}

	.footer_styles {
		padding: 2rem 2.5rem;
	}

	.main_styles {
		row-gap: 1.5rem;
		padding: 2rem 2.5rem;
		padding-top: 0;
	}
}

@media (max-width: 39.375rem) {
	.header_styles {
		padding: 1.5rem 2rem;
	}

	.footer_styles {
		padding: 1.5rem 2rem;
	}

	.main_styles {
		row-gap: 1.5rem;
		padding: 1.5rem 2rem;
		padding-top: 0;
	}
}

.no-scroll {
    overflow: hidden;
}

.hidden {
	display: none;
}

/* * {
  border: 1px solid blue !important;
} */